
	<div class="modal-header">
		<h3 style="margin: 0; color: green;">{{chapter}}</h3><timer style="position: relative; float: right; top: -14px;" init="{{getTimeoutValue(chapter)}}" title="Времени осталось.."/>
	</div>
	<div class="modal-body">
		<p style="color: blue; font-size: 17px; font-weight: bold; text-shadow: 3px 1px 2px rgba(150, 150, 150, 0.82);">
			{{getQuestion(cqIdx).title}}
		</p>
		<hr/>
		<div style="display: inline-block;">
			<ol style="color: silver; list-style-type: lower-alpha;">
				<li ng-repeat="(i, answer) in getQuestion(cqIdx).answers">
					<a href="" class="answer" ng-click="applyAnswer(i)">{{answer.answer}}</a>
				</li>
			</ol>
		</div>
		<div>
			<a href="#" ng-repeat="i in _shuffleArr([1,2,3,4,5])">{{i}} </a>
		</div>
		<a id="btn-skip-question" href="" ng-click="skipQuestion()" title="Пропустить вопрос..">
			<img style="position: relative; top: 14px; height: 41px;" src="images/skip-icon.png"/>
		</a>
	</div>
	<div class="modal-footer" style="padding-top: 0;">
		<div progress-bar></div>
		<span style="color: silver; float: left;">{{cqIdx + 1}}/{{getQuestionCount(chapter)}}</span>
		<button class="btn btn-warning" ng-click="cancel()">Завершить тест</button>
	</div>